<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- <h1>Welcome To The Static Web</h1>
    <button class="btn btn-danger"></button> -->
    {{!-- below code is for partial of navbar component --}}
    {{>navbar}}
    <!-- header part -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/1.jpg" alt="sanu" class="img-fluid" title="santanu jana">
                        </figure>
                        <p>Welcome To My Weather App</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Back To Home</button></a>
                    </div>
                    <!-- right side -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer section -->
   {{>footer}}
</body>

</html>